@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-bar {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo {
  width: 15%;
  margin-left: 40px;
}
.navigation-buttons {
  display: flex;
  justify-content: end;
  width: 85%;
  padding-right: 30px;
}
.navigation-buttons button {
  margin: 15px;
}
.signin {
  color: red;
  border-width: 1px;
  border-radius: 2rem;
  border-color: red;
  padding: 10px 30px 10px 30px;
}
.join-ztm {
  border-radius: 2rem;
  padding: 10px 30px 10px 30px;
  background-color: red;
  color: white;
}